/*
Font Name: Shan
Weights: 100, 200, 300, 400, 500, 600, 700, 800
*/
@font-face {
  font-family: "panglong";
  src: url("panglong.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}
