/*
Font Name: Panglong[Latest]
Weights: 100, 200, 300, 400, 500, 600, 700, 800
*/

@font-face {
  font-family: "PangLong";
  src: url("PangLong.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
  unicode-range: U+1000-109F;
}
