/*
Font Name: NamKhoneUnicode
Weights: 100, 200, 300, 400, 500, 600, 700, 800
*/

@font-face {
  font-family: "NamKhone";
  src: url("NamKhone.woff2") format("woff2"),
    url("NamKhone.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
  unicode-range: U+1000-109F;
}
